<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>公告【00001号】</h1>
    <span>[2022-03-19 12:57:04 星期六]</span>
    <ol>
        <li>对事物没有自己见解的人，请勿打扰！谢谢;</li>
        <li>注册账号，请联系作者获取邀请码;</li>
        <li>物以类聚，人以群分，进步从来都不是在乎自己拥有，而是在乎不增拥有;</li>
        <li>营造一个创新、了解行业最新技术、实事求是、赋予技术价值的环境;</li>
        <li>谈谈何为朋友，在一起有恋爱的感觉的都是朋友,身边都是自己喜欢的人多好啊。没感觉的就要主动疏远,不知道对方好不好,先假定不好,疏离疏离;</li>
    </ol>
</body>
</html>