<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>问题</title>
  <meta name="description" content="">
  <meta name="author" content="">
  
    <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/zerogrid.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slide.css">
  <link rel="stylesheet" href="css/menu.css">
  <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrap-body">
  <!--////////////////////////////////////Header-->
  <header>
    <div class="zerogrid">
      <center><div class="logo"><img src="images/logo.png"></div></center>
    </div>
  </header>
  <div class="site-title">
    <div class="zerogrid">
      <div class="row">
        <h2 class="t-center">我的嵌入式世界，是个科技大厦！</h2>
      </div>
    </div>
  </div>
    <!--//////////////////////////////////////Menu-->
    <a href="#" class="nav-toggle">驾驶舱：</a>
    <nav class="cmn-tile-nav">
    <ul class="clearfix">
      <li class="colour-1"><a href="index.html">主页</a></li>
      <li class="colour-2"><a href="./blog.html">博客</a></li>
      <li class="colour-3"><a href="./new.html">新闻</a></li>
      <li class="colour-4"><a href="./production.html">作品</a></li>
      <li class="colour-5"><a href="./picture.html">相册</a></li>
      <li class="colour-6"><a href="./question.html">问题</a></li>
      <li class="colour-7"><a href="./about.html">宇宙飞船驾驶员</a></li>
      <li class="colour-8"><a href="./article/article.html">笔记临时存放处</a></li>
    </ul>
    </nav>


    <!--////////////////////////////////////Container-->
<section id="container" class="sub-page">
  <div class="wrap-container zerogrid">
    <div class="crumbs">
      <ul>
        <li><a href="index.html">主页</a></li>
        <li><a href="about.html">宇宙飞船驾驶员</a></li>
      </ul>
    </div>

<h1>关于Give Me Five</h1>
<hr />
<p>我用坚强续写明天的谱，用执着走完未来的路。Wellcome to the world of givemefive！givemefive(击个掌)，一个专注于提高编程代码水平的平台,如果你能看到这段简介绍，仅仅说明我简介没有白写。日常分享心得，坚持熟练到运用自如的最高境界。一首诗静静心灵，然后我继续介绍。</p>
<blockquote>
<p>蝶恋花·伫倚危楼风细细<br>
宋代：柳永<br>
伫倚危楼风细细，望极春愁，黯黯生天际。草色烟光残照里，无言谁会凭阑意。<br>
拟把疏狂图一醉，对酒当歌，强乐还无味。衣带渐宽终不悔，为伊消得人憔悴。</p>
</blockquote>
<p>一个有趣的灵魂，喜欢分享，热爱生活，追求精致和简洁。创造一个没有的东西，这得需要想象力，需要付出，需要坚持，需要知识积累，需要智慧。So,what's givemefive？givemefive不再是一个团队，曾经我有想过givemefive是一个团队，但现实不允许它是一个团队，而更像是一种默默耕耘的精神，又或者是一种信仰，更是一个积极向上的态度。网站维护是长期是抹布一个人自力更生，由于抹布个人水平有限，很多地方也肯定很多不足。欢迎浏览网站，欢迎下载软件，不论是android的app还是pc软件，又或者是思维导图。非真心实意请不要打扰抹布，抹布热爱交朋友，这个当然是真的。为什么创建givemefive这个无聊的网站？肯定有人觉得这是一个无聊的网站，但我自己觉得挺有趣的，资源目前是很少的，但能和这个网站一起坚持一年，也能收获不少东西。抹布希望跟大家一起学习编程，开心快乐!</p>
<p>抹布留字（抹布说这样会更有仪式感）<br>
2019年5月21日</p>
<h1>关于作者</h1>
<h5>2019年8月3日</h5>
<hr />
<p>人从来到这个世界开始，伴随着成长，成长不是个自己主观可以选择的事情，就像读书，从出生就被安排得明明白白的，只不过是在这被安排的事情中找一件自己喜欢的事情做罢了。不好的东西很多，坏的能影响一个人的思想，甚至破坏一个人内心美好的向往。何必让不好的回忆或者事物会成为自己成长的羁绊，抹布一擦，什么不好的东西让它忘记在昨天，今天依然向前，2018年5月取网名抹布。QQ：1105403369</p>
<h1>消除迷茫篇</h1>
<ul>
<li>
<p>我的前进方向：linux嵌入式系统开发。</p>
</li>
<li>
<p>对于硬件的看法:不要求自己能设计硬件，至少能看懂就好了。</p>
</li>
<li>
<p>怎样编程？linux环境编程为主，c语言为主要使用的编程语言，熟练掌握数据结构与算法为一切出发的根基。</p>
</li>
<li>业余学习：android软件和游戏开发、html网页制作、java编程语言学习、掌握一些图形化开发(	qt、mfc)、掌握一些网络渗透知识。</li>
</ul>

</div>
</section>
</body>
</html>

